@use "/src/global/functions.scss";

$smallImageHeight: 239.2px;

._gallery {
  @include functions.flex(flex-start, center, column);
  padding-top: 5%;
  min-height: 100%;
  &-wrap {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    margin-top: 2%;
    img {
      max-width: 100%;
    }
  }
  ._column {
    width: 50%;
    @include functions.flex(center, space-between);
    flex-wrap: wrap;
    min-height: 100%;
  }
  ._big-image {
    height: auto;
  }
  &-image {
    overflow: hidden;
    cursor: pointer;
    img {
      height: 100%;
      transition: all 0.7s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.1) rotate(5deg);
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  ._gallery ._column {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  ._gallery-wrap {
    width: 75%;
  }
}
