<div class="_gallery w-full bg-col-dark col-white">
    <h2 class="_heading col-white clear-styling">
        Gallery
    </h2>
    <div class="_gallery-wrap">
        <div class="_column">
            <div class="_gallery-image _big-image">
                <img src="/assets/images/gallery_1.jpg" />
            </div>
        </div>
        <div class="_column">
            <div class="_gallery-image">
                <img src="/assets/images/gallery_2.jpg" />
            </div>
            <div class="_gallery-image">
                <img src="/assets/images/gallery_3.jpg" />
            </div>
        </div>
    </div>
</div>