@use "/src/global/functions.scss";
@use "/src/global/config.scss";

._header {
  height: config.$header-height;
  vertical-align: middle;
  padding: 1rem 0 1rem 5rem;
  box-sizing: border-box;
  ._header-content {
    @include functions.flex(space-between, center);
    width: 75%;
  }
}

@media only screen and (max-width: 900px) {
  ._header {
    display: none;
  }
}
