@use "/src/global/config.scss";

@each $name, $color in config.$colors {
  .bg-col-#{$name} {
    background: $color;
  }
  .col-#{$name} {
    color: $color;
  }
}

@mixin flex($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
