@use "/src/global/config.scss";
@use "/src/global/functions.scss";
@use "/src/global/keyframes.scss";

:host {
  width: 100%;
  height: 100%;
}

._hero-banner {
  position: relative;
  height: calc(100% - #{config.$header-height});
  background-image: url("/assets/images/hero-banner.jpg");
  background-position: center center;
  ._overlayer,
  ._hero-banner-content {
    height: 100%;
    position: absolute;
  }
  ._heading {
    @include functions.flex(center, flex-end, column);
    ._title {
      font-size: 5rem;
    }
    ._subtitle {
      @include functions.flex(center, center);
      position: relative;
      font-size: 3rem;
      width: 100%;
      &::before {
        @extend .bg-col-white;
        content: "";
        display: block;
        width: 30%;
        height: 1px;
        margin-right: 5%;
      }
    }
  }
}

._hero-banner-content {
  @include functions.flex(center, center, column);
}

._mouse-icon-wrap {
  margin-top: 2.5%;
}

.scroll-down {
  margin-top: 2.5%;
  display: block;
  position: relative;
  padding-top: 79px;
  text-align: center;
  &::before {
    @extend .bg-col-white;
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 90px;
    content: " ";
  }
}
$colors: (
  dark: #150604,
  lightgrey: #e6ebed,
  white: #fff,
);

.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
  &:after {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: map-get(config.$colors, white);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@media only screen and (max-width: 900px) {
  ._hero-banner {
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  ._heading {
    ._subtitle {
      font-size: 2rem !important;
    }
    ._title {
      font-size: 3.5rem !important;
    }
  }
}
