@use "/src/global/functions.scss";
@use "/src/global/config.scss";

._about-us {
  @include functions.flex(center, center, column);
  padding: 5rem 0;
  &-text {
    position: relative;
    margin-top: 2%;
    width: 50%;
    line-height: 1.75rem;
    font-size: 1.1rem;
    padding: 0 3rem 3rem 0;
    box-sizing: border-box;
    &::before,
    &::after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background-color: map-get(config.$colors, white);
    }
    &::before {
      height: 50%;
      width: 1px;
    }
    &::after {
      height: 1px;
      width: 50%;
    }
  }
}

@media only screen and (max-width: 768px) {
  ._about-us-text {
    margin-top: 5%;
    width: 75%;
  }
}
