<div class="w-full col-white _about-us"
     id="about-us">
    <app-heading text="About us"></app-heading>
    <p class="_about-us-text clear-styling">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elementum finibus massa sed varius. Sed aliquet
        sem vitae justo eleifend congue. In convallis finibus pretium. Maecenas bibendum semper sem, vitae imperdiet
        enim pellentesque et. In id dolor et quam sagittis sollicitudin. Nam sed sem et risus scelerisque faucibus.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer pharetra
        non nunc a ultricies. Sed ultricies congue velit nec venenatis. Nunc dui magna, condimentum id iaculis et,
        ornare eu arcu. Nam at tristique ligula.
    </p>
</div>