@use "/src/global/functions.scss";
@use "/src/global/config.scss";

._about-us {
  @include functions.flex(center, center, column);
  padding: 10rem 0;
  &-text {
    position: relative;
    margin-top: 2%;
    width: 50%;
    line-height: 1.75rem;
    font-size: 1.1rem;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 768px) {
  ._about-us-text {
    margin-top: 5%;
    width: 75%;
  }
}
